.DS_Store
*.DS_Store

logs/
*.logs

.eslintcache/

coverage/
dist/
umd/
lib/
node_modules/
tmp/
.pnpm-store
.turbo
.env
.secrets
pkg/

*.tsbuildinfo

.vercel/
.next/

npm-debug.log*
.pnpm-debug.log*

*.env
.env*.local
